$white: #ffffff;
$blue:  #0080C8;
$blue-primary:#0079C2;
$light-blue: #13b5ea;
$grey: #bdbdbd;
$grey-background:#f9f9f9;
$text-textiary:rgba(0, 0, 0, 0.45);
$border-color-secondary:#F0F0F0;
//var(--xenon-color-border-secondary);

// $grey-border-color:#f0f0f0

// $grey-head-table: #E0E0E0;
// $grey-font-table: #333333;
// $grey-font-table2: #737373;
// $grey-border-img: #D9D9D9;
// $light-grey: #f4f4f4;
// $light-grey2: #dddddd;


// $green: #27ae60;
// $green-circle: #009245;
// $red: #C1272D;
// $orange2: #F59E2A;

// $blue-hard: #0079be;
// $blue-grey: #66afd8;
// $orange: #f2994a;
// $yellow: #f2c94c;
// $pale-blue: #aad9f4;
// $black: #000000;
// $brown: #5e5971;
// $brown: #9a7700;
// $emerald: #00bd83;
// $sun: #ffb33b;
// $sky: #8fbfff;
// $azure: #2eaeff;
// $dirt: #808080;
// $bg-table-cell: #E3EFF2;
// $red-circle: #DB8E91;
// $orange-circle: #F5CA90;
// $blue-50-circle: #7BB7DC;
// $search-border: #89DAF4;
// $bg-modal-fog: #6d6e71;
// $text-hard-blue: #1E467E;
// $placeholder: #646464;


